*.iml
.gradle
/local.properties
.idea/*
!.idea/encodings.xml
!.idea/codeStyles/Project.xml
!.idea/codeStyleConfig.xml
app/build
/build
.externalNativeBuild
gradle
gradlew
gradlew.bat

/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.cxx
